body{
  margin: 0 auto;

  font-family: 'railway', sans-serif;
}

h1, .image-grid, div img, #wTypes, #wTypes h5  {

}

h1 {
  font-size: 35px;
  border: solid 1px;
  margin: 0 auto;
  padding: 2% 2%;

  display:flex;
  justify-content: center;

  text-align: center;
  background-color: #ea5169;

}
