body{
  margin: 0 auto;

  font-family: 'Alegreya', serif;
}


h1 {
  font-size: 50px;
  border: solid 1px;
  margin: 0 auto; */
  padding: 2% 2%;

  display:flex;
  justify-content: center;

  text-align: center;
  background-color: #ea5169;
}

.image-grid:nth-child(1){

  max-width: 100%;;
}
