body{
  margin: 0 auto;

  font-family: 'railway', sans-serif;
}

h1, .image-grid, div img, #wTypes, #wTypes h5  {

}

h1 {
  font-size: 35px;
  border: solid 1px;
  margin: 0 auto;
  padding: 2% 2%;

  display:flex;
  justify-content: center;

  text-align: center;
  background-color: #ea5169;

}

.image-grid {
  display: grid;
  grid-template: 100% / 33% 33% 33%;
  padding: 2%;
  margin: 2%;

}

.image-grid img{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  justify-content: center;

  width:50%;
  height:auto;

}

#wTypes {
display: grid;
grid-template: auto / repeat(3, 33%);
text-align: center;
margin: 2%;
}

#wTypes h5{
  display:flex;
  justify-content: center;
  margin: 0 1%;

font-size: 20px;

  width: 100%;

align-items: center;


}
#wTypes ul{
  list-style-type: none;
  text-align: center;
  font-size: 20px;
}
